<h1> СПИСОК КАНДИДАТОВ </h1>

<form method="get" enctype="multipart/form-data" action="{% url 'candidates_search' %}">

    <input type="search" placeholder="Найти кандидата" name="s">
    <button type="submit">Поиск</button>

</form>

{% if not request.user.is_authenticated %}
    <h3>Вы не вошли в свой аккаунт</h3>
    <a href="{% url 'login' %}">Войти в аккаунт</a>
{% else %}
    <h3>Вы вошли как {{ request.user.username }}</h3>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Выйти из аккаунта</button>
    </form>
{% endif %}

<ul>
    {% for i in candidates %}
    <li>
        <h2>{{ i.full_name }}</h2>
        <p>Образование: {{ i.education }}</p>
        <p>Желаемая должность: {{ i.desired_position }}</p>
        <p>Навыки: {{ i.skills }}</p>
        <a href="{% url 'candidates_list_detailed' i.id %}"> ПОДРОБНЕЕ </a>
    </li>
    {% endfor %}
</ul>

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?{% if s %}s={{ s }}&{% endif %}page=1">Первая</a>
        <a href="?{% if s %}s={{ s }}&{% endif %}page={{ page_obj.previous_page_number }}">Предыдущая</a>
    {% endif %}

    <span>
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?{% if s %}s={{ s }}&{% endif %}page={{ page_obj.next_page_number }}">Следующая</a>
        <a href="?{% if s %}s={{ s }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Последняя</a>
    {% endif %}
</div>
{% endif %}