<h1>КНИГИ</h1>

<form method="get" enctype="multipart/form-data" action="{% url 'books_search' %}">

    <input type="search" placeholder="Найти персонажа" name="s">
    <button type="submit">Поиск</button>

</form>

<ul>

    {% for i in book %}
    <li>
        <h2>Название: {{ i.title }}</h2>
        <p>Автор: {{ i.author }}</p>
        {% if i.cover %}
        <img src="{{ i.cover.url }}" alt="">
        {% else %}
        <p>Изображение обложки не было добавлено</p>
        {% endif %}
        <br>
        <a href="{% url 'book_list_detailed' i.id %}">Подробная информация о книге</a>
    </li>
    {% endfor %}

</ul>

{% if book.paginator %}
<div class="pagination">
    <span class="step-links">
        {% if book.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ book.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ book.number }} из {{ book.paginator.num_pages }}.
        </span>

        {% if book.has_next %}
            <a href="?page={{ book.next_page_number }}">Следующая</a>
            <a href="?page={{ book.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
